@font-face {
  font-family: 'AdobeCaslonPro';
  src: url('../../src/assets/fonts/AdobeCaslonPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Irvin-Text';
  src: url('../../src/assets/fonts/Irvin-Text.woff') format('woff'),
    url('../../src/assets/fonts/Irvin-Text.ttf') format('truetype');
}

@font-face {
  font-family: 'Irvin-Heading';
  src: url('../../src/assets/fonts/Irvin-Heading.woff') format('woff'),
    url('../../src/assets/fonts/Irvin-Heading.ttf') format('truetype');
}

@font-face {
  font-family: 'NeutrafaceNewYorkerWeb-SemiBold';
  src: url('../../src/assets/fonts/NeutrafaceNewYorkerWeb-SemiBold.woff') format('woff'),
    url('../../src/assets/fonts/NeutrafaceNewYorkerWeb-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  src: url('../../src/assets/fonts/Graphik-Regular-Web.woff') format('woff'),
    url('../../src/assets/fonts/Graphik-Regular-Web.woff2') format('woff2');
}
