.intro__title {
  font-family: "Irvin-Heading";
  font-size: 1.75em;
  line-height: 1.75rem;
  letter-spacing: 1px;
  margin-bottom: 3.125rem;
  @media (max-width: $mobile) {
    margin-bottom: 2rem;
  }
}
.intro {
  padding: 12.5em;
  width: calc(75vw - 25em);
  max-width: 96rem;
  margin: 0 auto 25rem;

  @media (max-width: $mobile) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    border: none;
    margin: 0 auto;
  }

  p {
    font-family: 'AdobeCaslonPro';
    font-size: 3.5em;
    line-height: 39px;
    margin: 2.5rem 0;
    text-align: left;

    @media (max-width: $mobile) {
      font-size: 2.625em;
      line-height: 1.875rem;
      margin: 1.875rem 0;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
