.opener {
  width: 44em;
  margin: 12.5rem auto;
  padding: 3rem 3rem 2rem;
}
.opener__rubric {
  font-family: 'Irvin-Heading';
  font-size: 1.5em;
  line-height: 1.5rem;
}
.opener__hed {
  margin: 2em auto 1.5rem;
}
.opener__hed--big {
  font-family: 'Irvin-Heading';
  font-size: 3em;
  line-height: 60px;
  letter-spacing: 1px;
}
.opener__hed--small {
  font-family: 'Irvin-Heading';
  font-size: 1.5em;
  line-height: 2.5rem;
  letter-spacing: 1px;
}
.opener__dek,
.opener__byline-timestamp {
  margin: 1.5em auto;
}
.opener__dek {
  font-family: 'AdobeCaslonPro-Italic';
  font-size: 3em;
  line-height: 1.75rem;
}
.opener__byline {
  font-family: 'NeutrafaceNewYorkerWeb-SemiBold';
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.opener__timestamp {
  font-family: 'Graphik-Medium';
  font-size: 1.5em;
  line-height: 1.5rem;
}
.opener__share {
  li {
    display: inline-block;
  }
  a {
    display: flex;
    width: 5.25em;
    height: 5.25em;
    align-items: center;
    justify-content: center;
  }
}
