@keyframes rotate-left {
  from {transform: rotate(-45deg);}
  to {transform: rotate(0);}
}

@keyframes rotate-right {
  from {transform: rotate(45deg);}
  to {transform: rotate(0);}
}

@keyframes rotate-left--mobile {
  from {transform: rotate(-35deg);}
  to {transform: rotate(0);}
}

@keyframes rotate-right--mobile {
  from {transform: rotate(35deg);}
  to {transform: rotate(0);}
}
