@import 'opener';
@import 'intro';

body {
  background-image: url('../../src/assets/background.jpg');
  background-size: contain;
  color: $white;
  background-color: $black;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 8px;

  @media (max-width: $mobile) {
    padding: 3rem;
  }
}
.tny-logo {
  display: block;
  width: 175px;
  height: auto;
  margin: 1.5em auto 0;
}
.opener,
.intro {
  border: 1.5px solid $white;

  @media (max-width: $mobile) {
    width: 100vw;
  }
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.spotlight {
  position: absolute;
  top: 0;
  z-index: 10;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &--right {
    right: -2em;
    animation-name: rotate-right;
    transform-origin: bottom right;
  }
  &--left {
    left: -2em;
    animation-name: rotate-left;
    transform-origin: bottom left;
  }
}
