@import 'article/opener';
@import 'article/intro';
@import 'article/background';

.tny-logo {
  display: block;
  width: 175px;
  height: auto;
  margin: 1.5em auto 0;
  @media (max-width: $mobile) {
    display: none;
  }
}
.article {
  position: relative;
  z-index: 40;
  @media (max-width: $mobile) {
    padding: 3rem;
  }
}
.opener,
.intro {
  border: 1.5px solid $white;
  @media (max-width: $mobile) {
    border: none;
  }
}

